<div class="container">
  <div class="row mt-4">
    <div class="col-lg-3">
      <img src="<%= @vehicle.primary_photo_url %>" class="img-thumbnail w-100">
    </div>
    <div class="col-lg-9">
      <h1><%= @vehicle.make %> <%= @vehicle.model %></h1>
      <%= link_to 'Back', :back, class:"btn btn-dark mt-3 mb-3" %>
      <dl class="row">
        <dt class="col-sm-3">Make</dt>
        <dd class="col-sm-9"><%= @vehicle.make %></dd>

        <dt class="col-sm-3">Year</dt>
        <dd class="col-sm-9"><%= @vehicle.year %></dd>

        <dt class="col-sm-3">Mileage</dt>
        <dd class="col-sm-9"><%= @vehicle.mileage %></dd>

        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9"><%= @vehicle.price %></dd>

        <dt class="col-sm-3">Color</dt>
        <dd class="col-sm-9"><%= @vehicle.display_color %></dd>

        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9"><%= @vehicle.city %>, <%= @vehicle.state %></dd>
      </dl>

      <div class="bg-warning p-3">
        Viewed <%= pluralize(@vehicles_visit[@vehicle.vin] || 0, "time") %>  in the last hour.
      </div>
    </div>
  </div>
</div>
